<html>
<head>
    <title>Bemoki - Bitcoin SMS Alert</title>
    <style>
        body{background:black;color:#eee;}
        a{color:#fff;}
    </style>
</head>
<body>

Send an SMS to <b>+1 (347) 334-6905</b> with "alert {$current_price|round - 50}" to receive an SMS when Bitcoin reach that price.<br>

<br><br><br>
Support this project<br><br>
<img src="bitcoin.png" width="200"><br><br>
15zdeaEEVH5TNCoCXGdA1M41rBC13ZKo9x


<div style="position:absolute;bottom:10px;left:10px;">Alerts are based on Coinbase exchange (1 BTC = {$current_price} USD) </div>
<div style="position:absolute;bottom:10px;right:10px;">project by <a href="https://twitter.com/feulf">@feulf</a></div>

</body>
</html>